<div class="case">
  <h3>Phase <%= phase %> - Step <%= step.upcase %><%= number ? " - Case #{number}" : nil %></h3>
  <p class="description"><%= description %></p>
  <img class="diagram" src="../images/<%= [puzzle, 'phase', phase,step,number].compact.join('-') %>.svg" />
  <p class="algorithm"><%= algorithm %></p>
</div>
