<article>
  <h1>Twisty Puzzle Guide</h1>

  <p class="subtitle">Guides to solving Twisty Puzzles</p>

  <div class="puzzles">
    <% data.puzzles.each do |puzzle| %>
      <div class="puzzle">
        <h2><%= puzzle.title %></h2>
        <%= image_tag "puzzle-#{puzzle.image_name}.svg", class: 'diagram' %>
        <ul class="guide">
          <% data.guides.select { |g| g.puzzle == puzzle.name }.each do |guide| %>
            <% if guide.phases_count == 1 %>
              <a href="puzzles/<%= guide.name %>.html"><%= guide.title %></a>
            <% else %>
              <a href="puzzles/<%= guide.name %>/phases/1.html"><%= guide.title %></a>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </ul>
</article>
