<article>
  <% if defined?(guide) && defined?(phase) %>
  <h1>
    <% if phase.nil? %>
      <%= guide.titleize %>
    <% else %>
      <%= guide.titleize %> - Phase <%= phase %>
    <% end %>
  </h1>

  <% unless phase.nil? %>
    <nav class="page_links">
      <% data.sections.select { |c| c.guide == guide }.map(&:phase).uniq.each do |p| %>
        <% if p == phase %>
          <a href="<%= p %>.html" class="current"><%= p %></a>
        <% else %>
          <a href="<%= p %>.html"><%= p %></a>
        <% end %>
      <% end %>
    </nav>
  <% end %>

  <% data.sections.select { |c| c.guide == guide && c.phase == phase }.each do |section| %>
    <%= partial(:section, locals: { section: section }) %>
  <% end %>

  <% unless data.sections.select { |c| c.guide == guide }.map(&:phase).max == phase %>
    <a class="next_page" href="<%= phase + 1 %>.html">Next Phase</a>
  <% end %>
  <% end %>
</article>
